/* ===== Switch DarkMode ===== */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;   /* largura do switch */
    height: 22px;  /* altura do switch */
    flex: 0 0 auto; /* impede de crescer na navbar */
}

/* esconde o input */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

/* trilha */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    border-radius: 22px;
    transition: background-color 0.3s;
}

/* bolinha */
.slider:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* estado ativo */
.switch input:checked + .slider {
    background-color: #333; /* cor da trilha no dark */
}

.switch input:checked + .slider:before {
    transform: translateX(22px); /* desliza a bolinha */
}
