.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c8d1d0;
}

.login-container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: row; /* Mantém lado a lado em telas grandes */
}

.login-form {
    padding: 30px;
    flex: 1;
}

.welcome-container {
    background: #19222b;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-container h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.login-btn {
    background-color: #19222b;
    border: none;
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #3a4755;
}

.remember-me {
    color: #19222b;
}

.forgot-password {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.2s ease;
}

.forgot-password:hover {
    color: #495057;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #495057;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff416c;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column; /* Altera o layout para uma coluna em vez de linha */
        width: 90%;
    }

    .welcome-container {
        width: 100%; /* O container de boas-vindas vai ocupar 100% da largura */
        padding: 20px;
    }

    .login-form {
        padding: 20px;
    }
}

/* Responsividade para smartphones */
@media (max-width: 600px) {
    .login-container {
        width: 95%;
        flex-direction: column;
    }

    .welcome-container {
        width: 100%;
        padding: 15px;
    }

    .login-form {
        padding: 15px;
    }

    .login-btn {
        width: 100%;
        padding: 12px;
    }

    .social-icons a {
        font-size: 1.2rem;
    }

    .form-group {
        margin-bottom: 10px;
    }
}
