/* Navbar.css */





.custom-navbar-bg {
    background-color: #19222B !important;
    color: white !important;
}

/* Cor do texto para links e elementos de navegação */
.custom-navbar-bg .navbar-brand,
.custom-navbar-bg .nav-link,
.custom-navbar-bg .navbar-text {
    color: white !important;
}

/* Para links quando hover e ativos */
.custom-navbar-bg .nav-link:hover,
.custom-navbar-bg .nav-link.active {
    color: #f0f0f0 !important; /* Ou qualquer tom de branco que preferir */
}

.navbar-toggler-custom {
    border-color: white; /* Define a cor da borda do botão para branco */
}

.navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Centralizar o campo de pesquisa */
.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar .nav-link {
    color: #98BAD5; /* Cor inicial */
    font-size: 1rem; /* Tamanho inicial da fonte */
    transition: font-size 0.2s ease, color 0.2s ease; /* Transição suave */
}

.navbar .nav-link:hover {
    font-size: 1.2rem; /* Tamanho da fonte ao passar o mouse */
}

